# .gitattributes
# --------------
#
# SPDX-License-Identifier: CC0-1.0
#
# Written in 2022-2023 by Lawrence Velazquez <vq@larryv.me>.
#
# To the extent possible under law, the author(s) have dedicated all
# copyright and related and neighboring rights to this software to the
# public domain worldwide.  This software is distributed without any
# warranty.
#
# You should have received a copy of the CC0 Public Domain Dedication
# along with this software.  If not, see
# <https://creativecommons.org/publicdomain/zero/1.0/>.


# Normalize line endings in text files.
* text=auto

# Override GitHub's language detection.
# https://github.com/github/linguist/blob/c1c34e5/docs/overrides.md
*.1 linguist-generated
install-sh linguist-vendored
