# .shellcheckrc
# -------------
#
# SPDX-License-Identifier: CC0-1.0
#
# Written in 2022 by Lawrence Velazquez <vq@larryv.me>.
#
# To the extent possible under law, the author has dedicated all
# copyright and related and neighboring rights to this software to the
# public domain worldwide.  This software is distributed without any
# warranty.
#
# You should have received a copy of the CC0 Public Domain Dedication
# along with this software.  If not, see
# <https://creativecommons.org/publicdomain/zero/1.0/>.


# Supporting traditional Bourne shells [1] requires using only the most
# portable constructs.  I don't need to be reminded that many of them
# are outdated and fragile!

# Don't warn about "`...`".  Most Bourne shells lack "$(...)" [1].
disable=SC2006

# Don't warn about "read" without "-r".  Most Bourne shells lack "-r"
# [1][2].
disable=SC2162


# References:
#  1. https://www.in-ulm.de/~mascheck/bourne/
#  2. https://www.gnu.org/software/autoconf/manual/autoconf-2.71/html_node/Limitations-of-Builtins.html
